<html>
  <head>
    <title>Lab 6 Activity</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <div class="login-page">
      <a href="/"><h1 class="brand-text">Placebø</h1></a>
      <div class="form">
        <form class="login-form" action="/login" method="POST">
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
      </div>
    </div>
  </body>
</html>