<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Bath Section</title>
    <link rel="stylesheet" href="/static/main.css"/>
    <script type = "text/javascript" src="/static/script.js"></script> 
  </head>
  <div class="content">
    <body>
      <a href="/"><h1 class="brand-text">Placebø</h1></a>
      <nav role="navigation" class="navigation-menu">
        <a href="/register" class="navigation-link">SIGNUP</a>
        {% if not session.username %}
          <a href="/login" class="navigation-link">LOGIN</a>
        {% else %}
          <a href="/logout" action="/logout" class="navigation-link">LOGOUT</a>
        {% endif %}
        <br>
        <form class="navigation-link" action="/search" method="POST">
          <input type="text" name="search" placeholder="search"/>
          <button>search</button>
        </form>
        <br>
        {% if session.username %}
          <a href="/orders" action="/orders" class="navigation-link">ORDERS</a>
          <a href="/cart" class="navigation-link">SHOPPING CART</a>
        {% else %}
        {% endif %}
      </nav>
      <div class="grid-5">
        <div class="title-white">
            +==============================+
            |          ORDER HIST          |
            +==============================+
            {% for item in stock %}
                <tr>
                    <p>===============================================================================</p>
                    <div>
                        <td><tab6>orderID: {{item[1]}}</tab6></td>
                    </div>
                    <div>
                        <td><tab3>Date of purchase: {{item[0]}}</tab3></td>
                    </div>
                    <div>
                        <td><tab3>Order Total: ${{item[3]}}</tab3></td>
                    </div>
                    <form name="myForm"class="register-form" action="/orderItem" method="POST">
                        <input type="hidden" id=“orderID” name="orderID" value="{{item[1]}}">
                        <tab4><button>VIEW ORDER</button></tab4>
                    </form>
                    <br>
                </tr>
            {% endfor %}
        </div>
      </div>
    </body>
  </div>
</html>

